h1 {
    color: yellow;
    margin-top: 30px;
    text-align: center;
}

.bordeo{
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    background-color: #1e1e2f;
    color: white;
    border-radius: 20px;
}

.bordeo2{
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #1e1e2f;
    color: white;
    border-radius: 20px;
}

.centrar {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    resize: vertical; 
}

div {
    margin: 10px;
}

#mensaje-error {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}