header {
    background-color: rgb(242, 234, 216);
    border-radius: 15px;
    margin: 10px;
}

footer {
    color: white;
    background-color: black;
    margin-top: 500px;
    padding: 50px;
}

h1 {
    text-align: center;
    padding: 50px;
}

body {
    background: linear-gradient(135deg, #0f0f1a, #1a1a2e, #0f3460, #16213e);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    flex-wrap: wrap;  /* responsive */
}

.menu ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.center {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    display: flex;
    color: black;
}

.logo img {
    width: 40px;
    height: auto;
    display: block;
    margin: 10px;
    border-radius: 50%;
}

/* Logo RUBA a la izquierda */
.logo-ruba img {
    width: 60px;
    height: auto;
    display: block;
    margin: 10px;
}

input {
    margin-bottom: 5px;
}


/* Menu desplegable */
/* Dropdown Button */
.dropbtn {
 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



/* The container <div> - needed to position the dropdown content */
.menu-desplegable {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.contenido-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.contenido-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}