.sala {
  text-align: center;
  margin-top: 30px;
  color: white;
}

.recuadro {
  background-color: white;
  color: black;
  font-weight: bold;
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.butacas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: rgb(0, 0, 50);
  padding: 20px;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fila {
  display: flex;
  gap: 10px;
}

.butaca {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 8px;
  cursor: pointer;
}

.butaca.ocupada {
  background-color: red;
  cursor: not-allowed;
}

.butaca.seleccionada {
  background-color: limegreen;
}

.confirmar-seleccion {
  text-align: center;
  margin-bottom: 30px;
}

.confirmar {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.confirmar:hover {
  background-color: #3f9442;
}
