.seleccionar-fecha-hora {
  background-color: white;
  color: black;
  width: fit-content;
  margin: 80px auto;
  padding: 25px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.seleccionar-fecha-hora h2 {
  margin-bottom: 15px;
}

.seleccionar-fecha-hora label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.seleccionar-fecha-hora select {
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #333;
}

.seleccionar-fecha-hora button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.seleccionar-fecha-hora button:hover {
  background-color: #45a049;
}
