body {
	margin: 0;
  	font-family: Arial, sans-serif;
  	background: #f4f4f9;
  	color: #333;
}

.header h1 {
  	margin: 0;
}

/* Perfil */
.fondo-perfil {
  	max-width: 900px;
  	margin: 30px auto;
	padding: 20px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0);
}

.perfil-info {
	text-align: center;
	margin-bottom: 30px;
}

.perfil-foto {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 15px;
	border: 3px solid #ffcc00;
}

.perfil-email {
  	color: #777;
}

.perfil-datos ul {
	list-style: none;
	padding: 0;
}

.perfil-datos li {
  	margin: 10px 0;
}

.perfil-historial table {
	width: 100%;
	margin-top: 10px;
}

.perfil-historial th,
.perfil-historial td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.perfil-historial th {
  	background: #ffcc00;
}


.bordeo{
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    background-color: #1e1e2f;
    color: white;
    border-radius: 20px;
}

