h1 {
    color: yellow;
}

.fotos-peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.pelicula {
    background: white;
    border-radius: 15px;
    overflow: hidden; /* para que la imagen respete el border-radius */
    box-shadow: 0px 0px 10px white;
}

.pelicula img {
    width: 100%;
    height: auto;
    display: block;
}

.pelicula p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px
}

.pelicula:hover {
    transform: scale(1.1);;
}

@media (max-width: 992px) {
    .fotos-peliculas {
        grid-template-columns: 1fr 1fr 1fr; /* 3 columnas en tablets */
    }
}

@media (max-width: 768px) {
    .fotos-peliculas {
        grid-template-columns: 1fr 1fr; /* 2 columnas en celu grande */
    }
    .pelicula p {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .fotos-peliculas {
        grid-template-columns: 1fr; /* 1 por fila en celu chico */
    }
}
