h1 {
    font-size: 40px;
}

.imagen {
    width: 470px;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    border: 3px solid #ccc;
    text-align: center;
}
main {
    float: right;
    width: 40%;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background: #ccc;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: auto;
    padding-right: 15px;

}

.ficha {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.ficha li{
    line-height: 1.5;
    margin: 8px 0;
    display: block;
}

.ficha .label {
    text-decoration: underline;
    display: inline;
    min-width: 160px;

}

#boton {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#boton:hover {
    transform: scale(1.1);
}